/* apply a natural box layout model to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.red {
    background-color: #C05D4E;
}

.yellow {
    background-color: #D8A514;
}

.green {
    background-color: #20897C;
}

.blue {
    background-color: #005995;
}

.blue-light {
    background-color: #00B8E6;
}

.blue-vlight {
    background-color: #AAE0F9;
}

.toolbar {
    margin-bottom: 20px;
}

.k-grid td {
    padding: 1px;
    border-style: none;
    line-height: 20px;
    font-size: 10px;
    font-weight: normal;
    color: #5D6162;
}

/* Remove alternating row colors */
.k-alt {
    background-color: #FFFFFF;
}

.table-header1 {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    background-color: #FFFFFF;
}

div.k-grid-header {
    border-style: none;
}

.k-grid-header .k-header {
    padding-left: 0;
    border-style: none;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    color: #7F7F7F;
}

.k-grid-header .k-header > .k-link {
    color: #7F7F7F;
}

.k-grouping-row td {
    font-weight: bold;
    font-size: 14px;
}

/* GRID 6.5 */
.text-wrapper {
    float: left;
    width: 20%;
}
.text-wrapper span {
    display: block;
    line-height: 1.25;
    padding-right: .5em;
    text-align: right;
    }
.bar-wrapper {
    float: left;
    width: 80%;
}
.k-grid .completed { color: #333;}
.completed .bar-wrapper>div { background: #333;}
.k-grid .on-track { color: green;}
.on-track .bar-wrapper>div { background: green;}
.k-grid .at-risk { color: #D8A514;}
.at-risk .bar-wrapper>div { background: #D8A514;}
.k-grid .off-track { color: #C05D4E;}
.off-track .bar-wrapper>div { background: #C05D4E;}

/* GRID 6.6 */
.k-grid .project-number {
    text-align: right;
    padding-right: .75em;
}
.off-track-66, .at-risk-66, .total-66 {
    text-align: center;
}
.project-66 { font-weight: bold }
.sub-project-66 {
    padding-left: 2em;
}
.k-state-selected {
    background: #eee;
}
[data-title="popup-header-66"] {
    width: 0;
    }
.popup-66 {
    display: none;
    width: 0;
}
.k-state-selected .popup-66 {
    display: block;
}
.k-state-selected .popup-66 .popper-66 {
    background: rgba(255,255,255,.9);
    border: 1px solid #ccc;
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 2;
}

/* GRID 6.7 */
.k-grid .target-progress-wrapper-67 {
        position: relative;
    }
.k-grid .target-progress-67 {
    background: lightskyblue;
    height: 20px;
}
.k-grid .target-67 {
    background: #000;
    height: 20px;
    position: absolute;
    top: 1px;
    width: 2px;
}

/* GRID 6.8 */

.k-grid .target-progress-wrapper-68 {
        position: relative;
    }
.k-grid .target-progress-68 {
    background: lightskyblue;
    height: 20px;
}
.k-grid .target-68 {
    background: #000;
    height: 20px;
    position: absolute;
    top: 1px;
    width: 2px;
}

/* GRID 7.1 */
.k-grid .project-number-71, [data-title="projectNum"]  {
    padding-right: .5em;
    text-align: right;
}
.k-grid .target-wrapper-71 {
    position: relative;
}
.k-grid .target-progress-71 {
    background: lightskyblue;
    height: 20px;
}
.k-grid .target-71 {
    background: #000;
    height: 20px;
    position: absolute;
    top: 1px;
    width: 2px;
}
.k-grid .execution-target-71{
    height: 20px;
    position: absolute;
    top: 1px;
    width: 0;

    border-right-width:2px;
    border-right-style:dotted;
    border-right-color:#000;
}
.k-grid .completedText-71{
    color: lightskyblue;
}
.k-grid .completed-planned-71{
    text-align: right;
}
.k-grid .execution-roadmaps-71{
    text-align: right;
    color: #B5A386;
    padding-right: .5em;
}
.k-grid .execution-wrapper-71 {
    position: relative;
}
.k-grid .stackGraph-bar1-71{
    background: #E2D8C9;
    height: 20px;
}
.k-grid .stackGraph-bar2-71{
    background: #B5A386;
    height: 20px;
    position:absolute;
}
.k-grid .targetGap-wrapper-71{
    position: relative;
}
.k-grid .targetGap-71{
    color: #FFA347;
    padding-left: .5em;
}
.k-grid .gapBackground-71{
    background: #FFA347;
    height: 20px;
}
.k-grid .gapWhite-71{
    background: white;
    height: 20px;
    position: absolute;
}
.k-grid .execution-roadmapsToRoadmaps-71{
    color: #E2D8C9;
    padding-right: .5em;
    text-align: center;

}

/* GRID 7.1 POPUP */
.popup-71, [data-title="popup-header-71"] {
    display: none;
    width: 0;
}
.k-state-selected .popup-71 {
    display: block;
    width: 250px;
}
.k-state-selected .popup-71 .popper-71 {
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(255,255,255,.9);
    border: 1px solid #ccc;
    display: block;
    height: 150px;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
    position: fixed;
    text-align: center;
    width: 250px;
    z-index: 2;
}
.popup-column-left-71 {
    width: 35%;
    padding-top: 8%;
    text-align: left;
    float: left;
}
.popup-column-right-71 {
    width: 60%;
    text-align: left;
    float: right;
}
.popup-number-71 {
    font-weight: bold;
    text-align: right;
    float: right;
}
.popup-results-71 {
    color: #A4A4A4;
}
.popup-name-71 {
    text-align: left;
}
